<%# @title = "Showing offer" %>
<% if @offer.attachment.previewable? %>
 <%= image_tag image_path(@offer.attachment), width: '100%', class: 'mr-2' %>
 <%#= link_to(image_tag(@offer.attachment.preview(resize: "200x200>")),  rails_blob_path(@offer.attachment, disposition: "attachment"))%>
<% end %>
<div class="panel panel-default">
 <div class="panel-body">
   <h4><%= @offer.title %></h4>
   <h4><%= @offer.claimurl %></h4>
   <p><%= markdown @offer.description %></p>
  </div>
 </div>
  <!--<div class="form-actions col-md-offset-2">-->
                <%#= link_to fa_icon_tag("pencil") + ' Edit', edit_offer_path(@offer), class: 'btn btn-primary' %>
                <%#= link_to 'Back', offers_path, class: 'btn' %>
  <!--</div>-->
